
.idea/

__pycache__/

data.cifar100/

baseline/

results/regressors/vgg16-cifar100_reg_0

results/regressors/vgg16-cifar100_reg_1

results/regressors/vgg16-cifar100_reg_10

results/regressors/vgg16-cifar100_reg_100

results/regressors/vgg16-cifar100_reg_101

results/regressors/vgg16-cifar100_reg_102

results/regressors/vgg16-cifar100_reg_103

results/regressors/vgg16-cifar100_reg_104

results/regressors/vgg16-cifar100_reg_105

results/regressors/vgg16-cifar100_reg_106

results/regressors/vgg16-cifar100_reg_107

results/regressors/vgg16-cifar100_reg_108

results/regressors/vgg16-cifar100_reg_109

results/regressors/vgg16-cifar100_reg_11

results/regressors/vgg16-cifar100_reg_110

results/regressors/vgg16-cifar100_reg_111

results/regressors/vgg16-cifar100_reg_112

results/regressors/vgg16-cifar100_reg_113

results/regressors/vgg16-cifar100_reg_114

results/regressors/vgg16-cifar100_reg_115

results/regressors/vgg16-cifar100_reg_116

results/regressors/vgg16-cifar100_reg_117

results/regressors/vgg16-cifar100_reg_118

results/regressors/vgg16-cifar100_reg_119

results/regressors/vgg16-cifar100_reg_12

results/regressors/vgg16-cifar100_reg_120

results/regressors/vgg16-cifar100_reg_121

results/regressors/vgg16-cifar100_reg_122

results/regressors/vgg16-cifar100_reg_123

results/regressors/vgg16-cifar100_reg_124

results/regressors/vgg16-cifar100_reg_125

results/regressors/vgg16-cifar100_reg_126

results/regressors/vgg16-cifar100_reg_127

results/regressors/vgg16-cifar100_reg_128

results/regressors/vgg16-cifar100_reg_129

results/regressors/vgg16-cifar100_reg_13

results/regressors/vgg16-cifar100_reg_130

results/regressors/vgg16-cifar100_reg_131

results/regressors/vgg16-cifar100_reg_132

results/regressors/vgg16-cifar100_reg_133

results/regressors/vgg16-cifar100_reg_134

results/regressors/vgg16-cifar100_reg_135

results/regressors/vgg16-cifar100_reg_136

results/regressors/vgg16-cifar100_reg_137

results/regressors/vgg16-cifar100_reg_138

results/regressors/vgg16-cifar100_reg_139

results/regressors/vgg16-cifar100_reg_14

results/regressors/vgg16-cifar100_reg_140

results/regressors/vgg16-cifar100_reg_141

results/regressors/vgg16-cifar100_reg_142

results/regressors/vgg16-cifar100_reg_143

results/regressors/vgg16-cifar100_reg_144

results/regressors/vgg16-cifar100_reg_145

results/regressors/vgg16-cifar100_reg_146

results/regressors/vgg16-cifar100_reg_147

results/regressors/vgg16-cifar100_reg_148

results/regressors/vgg16-cifar100_reg_149

results/regressors/vgg16-cifar100_reg_15

results/regressors/vgg16-cifar100_reg_150

results/regressors/vgg16-cifar100_reg_151

results/regressors/vgg16-cifar100_reg_152

results/regressors/vgg16-cifar100_reg_153

results/regressors/vgg16-cifar100_reg_154

results/regressors/vgg16-cifar100_reg_155

results/regressors/vgg16-cifar100_reg_156

results/regressors/vgg16-cifar100_reg_157

results/regressors/vgg16-cifar100_reg_158

results/regressors/vgg16-cifar100_reg_159

results/regressors/vgg16-cifar100_reg_16

results/regressors/vgg16-cifar100_reg_17

results/regressors/vgg16-cifar100_reg_18

results/regressors/vgg16-cifar100_reg_19

results/regressors/vgg16-cifar100_reg_2

results/regressors/vgg16-cifar100_reg_20

results/regressors/vgg16-cifar100_reg_21

results/regressors/vgg16-cifar100_reg_22

results/regressors/vgg16-cifar100_reg_23

results/regressors/vgg16-cifar100_reg_24

results/regressors/vgg16-cifar100_reg_25

results/regressors/vgg16-cifar100_reg_26

results/regressors/vgg16-cifar100_reg_27

results/regressors/vgg16-cifar100_reg_28

results/regressors/vgg16-cifar100_reg_29

results/regressors/vgg16-cifar100_reg_3

results/regressors/vgg16-cifar100_reg_30

results/regressors/vgg16-cifar100_reg_31

results/regressors/vgg16-cifar100_reg_32

results/regressors/vgg16-cifar100_reg_33

results/regressors/vgg16-cifar100_reg_34

results/regressors/vgg16-cifar100_reg_35

results/regressors/vgg16-cifar100_reg_36

results/regressors/vgg16-cifar100_reg_37

results/regressors/vgg16-cifar100_reg_38

results/regressors/vgg16-cifar100_reg_39

results/regressors/vgg16-cifar100_reg_4

results/regressors/vgg16-cifar100_reg_40

results/regressors/vgg16-cifar100_reg_41

results/regressors/vgg16-cifar100_reg_42

results/regressors/vgg16-cifar100_reg_43

results/regressors/vgg16-cifar100_reg_44

results/regressors/vgg16-cifar100_reg_45

results/regressors/vgg16-cifar100_reg_46

results/regressors/vgg16-cifar100_reg_47

results/regressors/vgg16-cifar100_reg_48

results/regressors/vgg16-cifar100_reg_49

results/regressors/vgg16-cifar100_reg_5

results/regressors/vgg16-cifar100_reg_50

results/regressors/vgg16-cifar100_reg_51

results/regressors/vgg16-cifar100_reg_52

results/regressors/vgg16-cifar100_reg_53

results/regressors/vgg16-cifar100_reg_54

results/regressors/vgg16-cifar100_reg_55

results/regressors/vgg16-cifar100_reg_56

results/regressors/vgg16-cifar100_reg_57

results/regressors/vgg16-cifar100_reg_58

results/regressors/vgg16-cifar100_reg_59

results/regressors/vgg16-cifar100_reg_6

results/regressors/vgg16-cifar100_reg_60

results/regressors/vgg16-cifar100_reg_61

results/regressors/vgg16-cifar100_reg_62

results/regressors/vgg16-cifar100_reg_63

results/regressors/vgg16-cifar100_reg_64

results/regressors/vgg16-cifar100_reg_65

results/regressors/vgg16-cifar100_reg_66

results/regressors/vgg16-cifar100_reg_67

results/regressors/vgg16-cifar100_reg_68

results/regressors/vgg16-cifar100_reg_69

results/regressors/vgg16-cifar100_reg_7

results/regressors/vgg16-cifar100_reg_70

results/regressors/vgg16-cifar100_reg_71

results/regressors/vgg16-cifar100_reg_72

results/regressors/vgg16-cifar100_reg_73

results/regressors/vgg16-cifar100_reg_74

results/regressors/vgg16-cifar100_reg_75

results/regressors/vgg16-cifar100_reg_76

results/regressors/vgg16-cifar100_reg_77

results/regressors/vgg16-cifar100_reg_78

results/regressors/vgg16-cifar100_reg_79

results/regressors/vgg16-cifar100_reg_8

results/regressors/vgg16-cifar100_reg_80

results/regressors/vgg16-cifar100_reg_81

results/regressors/vgg16-cifar100_reg_82

results/regressors/vgg16-cifar100_reg_83

results/regressors/vgg16-cifar100_reg_84

results/regressors/vgg16-cifar100_reg_85

results/regressors/vgg16-cifar100_reg_86

results/regressors/vgg16-cifar100_reg_87

results/regressors/vgg16-cifar100_reg_88

results/regressors/vgg16-cifar100_reg_89

results/regressors/vgg16-cifar100_reg_9

results/regressors/vgg16-cifar100_reg_90

results/regressors/vgg16-cifar100_reg_91

results/regressors/vgg16-cifar100_reg_92

results/regressors/vgg16-cifar100_reg_93

results/regressors/vgg16-cifar100_reg_94

results/regressors/vgg16-cifar100_reg_95

results/regressors/vgg16-cifar100_reg_96

results/regressors/vgg16-cifar100_reg_97

results/regressors/vgg16-cifar100_reg_98

results/regressors/vgg16-cifar100_reg_99
